{% extends 'base/base.html' %}

{% block title %}
<title>{{ product }} - {{ product.store.store_name }} Store | Campus Trade Mart</title>
{% endblock %}

{% block content %}
<h1>
  {{ product }}
</h1>
<div>
  <div class="img-wrapper pb-4"><img src="{{ product.thumbnail.url }}" alt="{{ product.title }}"></div>
  <div>
    <div class="flex gap-3 flex-wrap">
      {% for i in product.product_image.all %}
      <div class="w-28"><img src="{{ i.image.url }}" alt="{{ product.title }}"></div>
      {% endfor %}
    </div>
  </div>
</div>
<div>
  <small>&#8358; {{ product.price }}</small>
</div>
<div>
  <a class="link" href="{% url 'store:detail_store' store_name=product.store.store_name %}">{{ product.store.store_name }}</a>
</div>
<div>Description</div>
<div class="text-justify text-xs tracking-wide md:text-sm">{{ product.description }}</div>

<div>
  <a id="make-purchase" class="link" href="">Purchase Item</a>
</div>

<!-- ONCE USER CLICKS IT POPS UP -->
<div id="pop-up" class="bg-slate-200/95 w-screen h-screen fixed flex justify-center top-0 left-0 transition ease-in delay-100 duration-200 z-50 scale-0">
  <div class="bg-white/80 h-3/4 w-3/4 absolute top-10 leading-10 flex justify-center ">
    <button class="close text-3xl absolute right-0 p-3 pt-1">&times;</button>
    <div class="modal">
      <div class="modal-content">
        <div class="pt-8">
          <p class="font-bold">
            {{ product }}
          </p>
          <div class="img-wrapper"><img src="{{ product.thumbnail.url }}" alt="{{ product.title }}"></div>
        </div>
        <p>From: {{ product.store.store_name }} </p>
        <p>
          Seller: {{ product.vendor }}
        </p>
        <p>
          Price: &#8358; {{ product.price }}
        </p>
      </div>
      <form>
        <div class="">
          <label for="quantity">Quantity:</label>
          <input type="number" value="1" min=1 class="" id="quantity">
        </div>
        <div>
          Total: &#8358; <span id="total">{{ product.price }}</span>
        </div>
        <input id="purchase" type="submit" value="Purchase" class="">
      </form>
    </div>
  </div>
</div>

{% if more_items %}
<br>
<h1 class="font-bold">Explore This Store</h1>
<div class="flex flex-wrap gap-2">
  {% for good in more_items %}
  <div>
    <a href="{% url 'store:detail_product' store_name=good.store.store_name product_uuid=good.uuid %}">
      <h3>
        {{ good.title }}
      </h3>
      <div class="img-wrapper"><img src="{{ good.thumbnail.url }}" alt="{{ product.title }}"></div>
      <div>
        <small>&#8358; {{ good.price }}</small>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if recently_viewed %}
<h1 class="font-bold">Recently Viewed Items</h1>
<div class="flex flex-wrap gap-2">
  {% for good in recently_viewed %}
  <div>
    <a href="{% url 'store:detail_product' store_name=good.store.store_name product_uuid=good.uuid %}">
      <h3>
        {{ good }}
      </h3>
      <div class="img-wrapper"><img src="{{ good.thumbnail.url }}" alt="{{ product.title }}"></div>
      <div>
        <small>&#8358; {{ good.price }}</small>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<a class="link" href="{% url 'recently_viewed' %}">View All</a>
{% endif %}
{% csrf_token %}
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function () {
    // THIS WILL HANDLE THE MATHS OF ONINPUT
    $("#quantity").on('input', function () {
      let total = $("#quantity").val() * parseInt('{{ product.price }}');
      $("#total").html(total);
    })
    // Redirect to the vendor's WhatsApp page when the "Purchase" button is clicked
    $("#purchase").click(function (e) {
      let pageUrl = window.location.href;
      let quantity = $("#quantity").val();
      if (!confirm('You will be redirected to the Vendor\'s contact')) return false;
      e.preventDefault();
      window.location.href = `https://api.whatsapp.com/send?phone=+234{{ product.store.whatsapp_number }}&text=I%20want%20to%20purchase%20${quantity}%20{{ product.title }}%20${pageUrl}`;
    });
  });

  $(document).ready(function () {
    // $("#pop-up").hide()
    // Show the modal when the "Make Purchase" button is clicked
    $("#make-purchase").click(function (e) {
      e.preventDefault();
      $("#pop-up").removeClass("scale-0");
    });

    // Close the modal when the "x" is clicked
    $(".close").click(function () {
      $("#pop-up").addClass("scale-0");
    });
  });


  /**  let productId = '{{ product.uuid }}';
    let recentlyViewed = JSON.parse(localStorage.getItem('recentlyViewed')) || [];
    if (recentlyViewed.indexOf(productId) === -1) {
      recentlyViewed.push(productId);
    }
    localStorage.setItem('recentlyViewed', JSON.stringify(recentlyViewed));
  
    $(document).ready(function () {
      // Get the CSRF token from the input of type hidden
      var csrftoken = $("input[name='csrfmiddlewaretoken']").val();
      let pageUrl = "{% url 'store:recently_viewed' %}";
      console.log(pageUrl);
      let data = JSON.parse(localStorage.getItem('recentlyViewed'));
      $.ajax({
        url: pageUrl,
        type: 'POST',
        data: { "viewed-recently": data, csrfmiddlewaretoken: csrftoken, },
        success: () => {
          console.log("success")
        },
        error: () => {
          console.log("error")
        }
      })
    })
    **/

  /** function getRecentlyViewed() {
    const recentlyViewed = localStorage.getItem('recentlyViewed');
    return recentlyViewed ? JSON.parse(recentlyViewed) : [];
  }
  function sendRecentlyViewed(recentlyViewed) {
    const xhr = new XMLHttpRequest();
    xhr.open('GET', '/store/recently-viewed/', true);
    xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
    xhr.onload = function() {
      if (xhr.status === 200) {
        console.log('Recently viewed items sent successfully!');
      } else {
        console.error('Error sending recently viewed items!');
      }
    };
    xhr.send(JSON.stringify(recentlyViewed));
  }
  // sendRecentlyViewed(getRecentlyViewed)
  **/
</script>
{% endblock %}