{% extends 'base/base.html' %}

{% block title %}
<title>Stores | Campus Trade Mart</title>
{% endblock %}

{% block content %}
<!-- <h1 class="text-center font-bold text-2xl">Stores</h1> -->
<!-- <form action="" id="data-form" data-url="{% url 'store:load_data' %}" data-store-url="{% url 'store:load_stores' %}">
  <div class="flex flex-col gap-3 mb-3">
    {{ form.as_p }}
  </div>
</form> -->
<div>
  <form action="{% url 'store:search_store' %}">
    <input type="text" name="q" placeholder="Search for store">
  </form>

  <div id="store-list" class="flex gap-1 flex-wrap m-auto pt-4 w-11/12">
    {% for store in stores %}
    <div>
      <a href="{% url 'store:detail_store' store_name=store.store_name %}" class="flex flex-col justify-between">
        <div class="w-32 h-32">
          <img src="{{ store.store_logo.url }}" alt="{{ store.store_name }}">
        </div>
        <div>
          <h3 class="text-center">{{ store.store_name }}</h3>
          <small class="text-sm">{{ store.store_motto|truncatechars:20 }}</small>
        </div>
      </a>
    </div>
    {% empty %}
    <h3>No Stores Available</h3>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block script %}


<script>
  let productUrl = "{% url 'filter_load' %}"
  let buttonUrl = "{% url 'reset_general' %}"
</script>



{% endblock %}