{% extends 'base/base.html' %}

{% block title %}
<title>Campus Trade Mart</title>
{% endblock %}

{% block content %}

<div>
  <form class="py-1 border-none" action="{% url 'search' %}">
    <label class="" for="q">
      <input class="p-1 rounded-2xl" type="text" name="q" id="q" placeholder="Search for Products">
    </label>
  </form>
</div>

<div id="list-container">
  {% if products or recent %}
  {% if products %}
  <section id="product">
    <!-- <h1 class="font-bold pb-4 text-xl">Products</h1> -->
    <div class="grid-items pt-4">
      {% for good in products %}
      <div class="w-full h-full bg-white pb-2">
        <a class="flex flex-col justify-between" href="{% url 'store:detail_product' store_name=good.store.store_name product_uuid=good.uuid  %}">
          <div class="img-wrapper">
            <img class="rounded-t-md" src="{{ good.thumbnail.url }}" alt="{{ good.title }}">
          </div>
          <div class="px-4 pt-2 m-auto text-xs md:text-sm">
            <div class="text-center">{{ good.title|truncatechars:20 }}</div>
            <div>
              <div class="text-center">&#8358; {{ good.price }}</div>
            </div>
          </div>
        </a>
        <div class="m-1 mb-6 text-xs md:text-sm">
          <a class="link" href="{% url 'store:detail_store' store_name=good.store.store_name %}">{{ good.store.store_name }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  {% if recent %}
  <section id="recent">
    <h1 class="font-bold py-4 text-xl">Recent</h1>
    <div class="grid-items">
      {% for good in recent %}
      <div class="w-full h-full bg-white">
        <a class="flex flex-col justify-between" href="{% url 'store:detail_product' store_name=good.store.store_name product_uuid=good.uuid  %}">
          <div class="img-wrapper">
            <img class="rounded-t-md" src="{{ good.thumbnail.url }}" alt="{{ good.title }}">
          </div>
          <div class="px-4 pt-2 m-auto text-xs md:text-sm">
            <div class="text-center">{{ good.title|truncatechars:20 }}</div>
            <div>
              <div class="text-center">&#8358; {{ good.price }}</div>
            </div>
          </div>
        </a>
        <div class="m-1 mb-6 text-xs md:text-sm">
          <a class="link" href="{% url 'store:detail_store' store_name=good.store.store_name %}">{{ good.store.store_name }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  {% elif not products and not recent %}
  <h1>No Items to show</h1>
  {% endif %}

</div>

{% endblock %}


{% block script %}

<script>
  let productUrl = "{% url 'filter_load' %}"
  let buttonUrl = "{% url 'reset_general' %}"
</script>

{% endblock %}