{% extends 'base/base.html' %}
{% block title %}
<title>Rencntly Viewed | Campus Trade Mart</title>
{% endblock %}

{% block content %}

{% if goods %}
<h1 class="font-bold py-3">Recently Viewed Items</h1>
{% for good in goods %}
<div>
  <a href="{% url 'store:detail_product' store_name=good.store.store_name product_uuid=good.uuid %}">
    <h3>
      {{ good }}
    </h3>
    <div class="w-32"><img src="{{ good.thumbnail.url }}" alt="{{ good.title }}"></div>
    <div>
      <small>&#8358; {{ good.price }}</small>
    </div>
  </a>
</div>
{% endfor %}
{% else %}
<h2>You Have no Recent Items, Keep Exploring</h2>
{% endif %}
{% endblock %}