<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Activate Subscription</h1>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="" id="submit" value="Make Payment">
  </form>
</body>
<script>
  let form = document.querySelector("form");
  let packages = document.getElementsByName("package");
  let duration = document.querySelector("#id_duration");
  let total = document.querySelector("#id_total");
  
  form.addEventListener("change", ()=>{
  function getPackage(val){
    for (let i = 0; i < val.length; i++){
      if (val[i].checked){
        return val[i].value;
      }
    }
  }
  let selectedValue = getPackage(packages);
    result = selectedValue * duration.value
    total.value = result
  })

</script>
</html>